{% extends "data/main.html" %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card card-body">
                <p> Are you sure want to delete "<strong>{{dataproductdelete}}</strong>" ?</p>
                <form action="{% url 'delete_product' dataproductdelete.id %}" method="POST">
                    {% csrf_token %}
                    <br>
                    <a class="btn btn-danger" href="{% url 'products' %}" role="button">Cancel</a>
                    <input type="submit" class="btn btn-primary" name="Confirm" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}